body {
	background-color: #121212;
	font-family: "sans serif";
	color: #E00050;
}

.underlined-link {
	color: #40C0FF;
	text-decoration: underline;
}

.jumbotron {
	background-color: #121212;
	padding: 2rem;
}
